---
import XperienceLayout from "../../layouts/XperienceLayout.astro";
import XperienceNavbarLayout from "../../layouts/XperienceNavbarLayout.astro";
---

<XperienceLayout>
  <XperienceNavbarLayout url="fyo">
    <p>Mi experiencia en fyo</p>
  </XperienceNavbarLayout>
</XperienceLayout>
