---
import XperienceLayout from "../../layouts/XperienceLayout.astro";
import XperienceNavbarLayout from "../../layouts/XperienceNavbarLayout.astro";
---

<XperienceLayout>
  <XperienceNavbarLayout url="mdevz">
    <p>Mi experiencia en mdevz</p>
  </XperienceNavbarLayout>
</XperienceLayout>
