---
import { Image } from "astro:assets";
import XperienceLayout from "../../layouts/XperienceLayout.astro";
---

<XperienceLayout>
  <h3>/xperience/rolling</h3>
  <h1>Acá estamos dentro de Rolling</h1>
</XperienceLayout>

<style>
  img {
    filter: grayscale(0);
  }
</style>
