---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="w-full h-full flex flex-row justify-evenly items-center">
    <h1>XPERIENCE</h1>
  </div>
</Layout>
