---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
const { url } = Astro.request;
const title = url.split("/")[4];
---

<Layout title="Welcome to Astro.">
  <div
    class="md:w-full md:h-full md:flex md:flex-row md:justify-evenly md:items-center md:p-4"
  >
    <div></div>
    <picture
      class="mt-10 images md:h-4/5 md:w-1/4 md:flex md:flex-col md:items-center justify-around"
    >
      <a href="../../xperience/mdevz">
        <Image
          class={`rounded-l-3xl cursor-pointer ${
            title === "mdevz"
              ? "img-active scale-110"
              : "grayscale hover:scale-110"
          }`}
          width={150}
          height={150}
          alt={"Mdevz"}
          src={"https://media.licdn.com/dms/image/C510BAQGlxgT3T03Paw/company-logo_200_200/0/1530131860048?e=1703116800&v=beta&t=V3Rfnwc231nkBptero7k60ZODp8FDRUc7apA6SX-Erg"}
        />
      </a>
      <a href="../../xperience/fyo">
        <Image
          class={`rounded-l-3xl cursor-pointer transition-all ${
            title === "fyo"
              ? "img-active scale-110"
              : "grayscale hover:scale-110"
          }`}
          width={150}
          height={150}
          alt={"FyO"}
          src={"https://media.licdn.com/dms/image/C4D0BAQF8JGYSpv-Z4w/company-logo_200_200/0/1675190219339?e=1703116800&v=beta&t=3DO3e6pY5uIqvP6bWndW2nSlOvivXwOM6AZdQcm2WWI"}
        />
      </a>
      <a href="../xperience/rolling">
        <Image
          class={`rounded-l-3xl cursor-pointer ${
            title === "rolling"
              ? "img-active scale-110"
              : "grayscale hover:scale-110"
          }`}
          width={150}
          height={150}
          alt={"Rolling"}
          src={"https://media.licdn.com/dms/image/C560BAQFoa8hfan0wPg/company-logo_100_100/0/1641586023847?e=1703116800&v=beta&t=pmKyb6LfHrLh1ErGf2F4tugjpPMg0WwginpAXPgNEP0"}
        />
      </a>
    </picture>
    <section class="texts">
      <slot />
    </section>
  </div>
</Layout>

<style>
  .texts {
    color: black;
    width: 60%;
    height: 700px;
    overflow-y: scroll;
    border-radius: 10px;
  }
  .images {
    animation: translate 1s normal;
    transition: 1s ease;
  }

  .grayscale:hover {
    filter: grayscale(0);
  }

  .img-active {
    filter: grayscale(0);
  }

  section::-webkit-scrollbar {
    background-color: transparent;
  }
</style>
